<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-django icon'></i>
        <div class="logo_name">DevBlog <br> <p style="font-size:small;font-style:italic">by Dvrklex</p></div>
        
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
        <li>
            <form method="get" id="nomolestar"action="{% url 'Search' %}">

            <i class='bx bx-search' ></i>
            <input type="search" name="search" id="search" placeholder="Buscar...">
            <span class="tooltip">Search</span>
            </form>
        </li>
        <li>
            <a href="{% url 'Home' %}">
                <i class='bx bx-home-circle' ></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="{% url 'Blog' %}">
                <i class='bx bx-layout' ></i>
                <span class="links_name">Blog</span>
            </a>
            <span class="tooltip">Blog</span>
        </li>
       
        {%if user.is_authenticated %}
            <li>
            <a href="{% url 'Create_Post' %}">
                <i class='bx bx-add-to-queue'></i>
                <span class="links_name">Create Post</span>
            </a>
            <span class="tooltip">Create Post</span>
            </li>
            
            <li>
            <a href="{% url 'MyPosts' %}">
                <i class='bx bx-folder' ></i>
                <span class="links_name">My Posts</span>
            </a>
            <span class="tooltip">My Posts</span>
            </li>
        {% else %}
        <li>
            <a href="{% url 'Login' %}">
                <i class='bx bx-add-to-queue'></i>
                <span class="links_name">Create Post</span>
            </a>
            <span class="tooltip">Create Post</span>
            </li>
        {% endif %}
       
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                    <span class="tooltip">Dashboard</span>
            <li>
        {% endif %}
        <li>
            <a href="{% url 'Ayuda' %}">
                <i class='bx bx-help-circle'></i>
                <span class="links_name">Ayuda</span>
            </a>
            <span class="tooltip">Ayuda</span>
        </li>
        {%if user.is_authenticated %}
        <li class="profile">
            <div class="profile-details">
            <div class="name_job">
                <div class="job">Bienvenido</div>
                <div class="name">{{user.username}}</div>
            </div>
            </div>
            <a href="{% url 'Logout' %}" style="text-decoration: none;color:white;background-color:transparent"><i class='bx bx-log-out' id="log_out" ></i></a>
        </li>
        {% else %}
        <li class="profile">
            <div class="profile-details">
            <div class="name_job">
                <div class="job"><a href="{% url 'SignUp' %}"style="text-decoration: none;color:white;background-color:transparent">Registrarse</a></div>
                <div class="name"><a href="{% url 'Login' %}"style="text-decoration: none;color:white;background-color:transparent">Iniciar sesión</a></div>
            </div>
            </div>
            <i class='bx bx-log-in' id="log_out" ></i>
        </li>
        {% endif %}
    </ul>
</div>
<!-- <section class="home-section">
    <div class="text">Dashboard</div>
</section> -->
