#loginForm{
    display: grid;
    width: 600px;
    height: auto;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(99, 99, 99, 0.3);
}

#loginForm h2{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    background: #E05C10;
    background: linear-gradient(to right, #FFC508 0%, #E05C10 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#loginForm .input-box{
    display: grid;
    margin: 10px;
}

#loginForm .input-box input{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

#loginForm button{
    margin: 5px;
    color: #000000;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: transparent;
    color: orange;
    border: 1px solid orange;

    cursor: pointer;
    transition: all 0.3s ease;
}    
#loginForm button:hover{
    background: orange;
    color: rgb(0, 0, 0);
}    
#loginForm .log-cont {
    text-align: center;
}
#loginForm .log-cont p a{
    color: greenyellow;
    text-decoration: none
}
#loginForm  .log-cont p a:hover{
    transition: 1s;
    text-decoration: underline greenyellow;
}

#loginForm  .alert{
    margin:20px auto;
    width: 100%;
}