@import url('https://fonts.googleapis.com/css?family=Belgrano');
#homeContainer{
    background: url("../img/home_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin:auto;
    width:100%;
    height:100%;
    background-color:bisque;
    display: flex;
    /* filter: blur(2px); */
}



.glitch-wrapper {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 
 .glitch {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FFA80D;
    z-index: -2;
 }
 
 @keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }




 

#cardPost{
    width: 250px;
    height: 300px;
    overflow: hidden;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#headerPost{
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    position: relative;
    overflow: hidden;
}
#headerPost img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#contentPost{
    width: 100%;
    height: 160px;
    padding: 15px 15px 0 15px;
    text-align: center;
}
#contentPost a{
    
    text-decoration: none;
    font-family: Belgrano, serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
    color: rgb(255, 153, 20);
    text-shadow: rgb(0, 0, 0) 0px 2px 4px;
}
#contentPost p{
    color: white;
    font-size: 14;
}

#footerPost{
    width: 100%;
    display: contents;
    color: gray;
    margin-bottom: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    padding: 5px ;
    text-align: center;
}
#footerPost p{
    text-align: center;
    margin-bottom: 10px;
}
#categoriaContainer{
    display: inline
}
#categoriaContainer a{
    display: contents;
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    text-decoration: none;

}
#categoria{
    width: 35px;
    height: 25px;
    color: orange;
    background-color: transparent;
    border: solid orange 1px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    margin-right: 5px;
}






#categoriaTitle{
    margin-top: 10px;
    display: flex;
}
#contextCategorias{
    margin:15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
#contextCategorias a{
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    background-color: transparent;
    border: solid orange 1px;
    padding: 5px;
    border-radius: 20px;
    color: orange;
}




