.pagination {
    display: flex;
    width: 800px;
    height: 30px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.39);
    position: relative;
    bottom: 0;
    padding: 1;
    left: 60px;
    right: -10px;
    z-index: 1;
    margin: 10px auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 25px 0px rgba(194,0,0,0.75);
-webkit-box-shadow: 0px 0px 25px 0px rgba(194,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(194,0,0,0.75);
  }
  
  .pagination a {
    color: white;
    margin: 0 5px;
  }
  
  .current-page {
    color:white;
    font-weight: bold;
    margin: 0 5px;
  }
  