body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* margin: 0; */
    /* padding: 0; */
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    /* max-height: 300px;  */
}

#bigContainer{
    max-width: 100%;
    max-height: 100%;
    margin: 25px

}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    background: rgba(255, 217, 0, 0.137);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 167, 0, 0.3);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}
#scrollButton:hover{
    box-shadow: 0px 0px 20px 0px rgba(255, 208, 0, 0.856);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 208, 0, 0.856);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 208, 0, 0.856);
    transition: 0.5s;
}

#indexPost {
    max-width: 900px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.493);
    overflow: hidden;
}
#headerPost{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
#likesPost {
    position: absolute;
    top: 45px; 
    right: 5px;  
    border-radius: 15px;
    color: white;
    font-size: 14px;
    border: solid rgb(4, 150, 235) 1px;
    background-color: transparent;
    padding: 5px;
    margin: 0;
    z-index: 1; 
}
#likesPost:hover{
    background: rgb(4, 150, 235);
    cursor: pointer;
    transition : 500ms;
    padding: 5px 20px;
    transform : translateY(-0px);
}
#likesPost a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#commentsPost {
    position: absolute;
    top: 85px; 
    right: 5px;  
    border-radius: 15px;
    color: white;
    font-size: 14px;
    border: solid rgb(141, 0, 0) 1px;
    background-color: transparent;
    padding: 5px;
    margin: 0;
    z-index: 1; 
}
#commentsPost:hover{
    background: rgb(141, 0, 0);
    cursor: pointer;
    transition : 500ms;
    padding: 5px 20px;
    transform : translateY(-0px);
}
#commentsPost a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#headerPost img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}
#bodyPost{
    padding: 2rem;
    position: relative;
}
#headerBody {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerBody h3 {
    margin: 0;
    color: orange;
    text-align: center;
    font-size: 28px;
}
#headerBody span{
    color: gray;
    font-style: italic;
    text-align: center;
}

#contentBody p {
    margin: 0;
    color:#fff;
    text-align: justify;
    height: 100%;
}

#footerPost {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerPost span{
    color: gray;
    text-align: center;
}
 

/** Estilos para markdown content*/
.markdown-content{
    color: #fff;
}
.markdown-content h1{
    color: #fff;
}
.markdown-content h2{
    color: #fff;
}
.markdown-content h3{
    color: #fff;
}
.markdown-content li{
    color: #fff;
}
.markdown-content pre{
    color: #fff;
}
.markdown-content a{
    color: #fff;
}
.markdown-content p{
    color: #fff;
}
.markdown-content table{
    color: #fff;
}

/* Comentarios */
#indexComentarios{
    margin: 20px;
    width: 900px;
    min-height: 350px;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.301);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(17.9px);
    -webkit-backdrop-filter: blur(17.9px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#indexComentarios h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color:orange
}

#comentarioContainer{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.comentario{
    padding: 5px;
    width: 500px;
    min-height: 120px;
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.692);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.9px);
    -webkit-backdrop-filter: blur(17.9px);
    border: 1px solid rgba(185, 77, 0, 0.3);
}
.comentario h3{
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
}
.comentario p{
    margin: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.comentario span{
    position: absolute;
    color: gray;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    right: 0;
    bottom: 5px;
    left: 0;
}
#formComentario{
    width: 100%;
   height: 50px;
    
}
#formComment{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 5px;
    margin: auto;
    justify-content: center;
}

#formComment  input[type=text]{
    width: 80%;
    height: 30px;
    border-radius: 16px;
    border: 1px solid rgba(185, 77, 0, 0.3);
    padding: 10px;
    margin: 5px;
}
#formComment input[type=submit]{
    width: 100px;
    height: 30px;
    border-radius: 16px;
    padding: 5px;
    margin: 5px;
    background: rgb(255, 196, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.9px);
    -webkit-backdrop-filter: blur(17.9px);
    border: 1px solid rgba(185, 77, 0, 0.3);
    cursor: pointer;
}
#deleteComment {
    position: absolute;
    top: 5px; 
    right: 5px;  
    border-radius: 15px;
    color: rgb(141, 0, 0);
    font-size: 14px;
    border: solid rgb(141, 0, 0) 1px;
    background-color: transparent;
    padding: 5px;
    margin: 0;
    z-index: 1; 
}
#deleteComment:hover{
    color: white;
    background: rgb(141, 0, 0);
    cursor: pointer;
    transition : 500ms;
    padding: 5px 20px;
    transform : translateY(-0px);
}