{% load static %}
<html>
  <head>
    <!-- Base -->
    <link href="{% static 'blog_app/css/side_bar.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css_file %}{% endblock %}

    {% block title %}
    {% endblock %}
  </head>

  <body>
    {% include 'blog_app/widgets/side_bar_menu.html' %}
       
 
       
       
        

    <!-- Contentido cambiante  -->
    {% block content %}
    {% endblock %}

     




     
      {% block script_file %}{% endblock %}
      <script src="{% static 'blog_app/js/side_bar_script.js' %}"></script>
      {% block javascript %}
  <script>
    const viewName = "{{ view_name }}";
  </script>
{% endblock %}


  </body>


</html>