{% extends './base.html' %} <!-- hereda de la plantilla base.html-->

{% load static %}

{% block css_file %}
    {{ block.super }} 
    <link href="{% static context.blog_css %}" rel="stylesheet">
    <link href="{% static context.pagination_css %}" rel="stylesheet">
    <!-- <link href="{% static context.swiperBundleCss %}" rel="stylesheet"> -->

{% endblock %}

{% block content %}
<div id="indexBlog">
    <div id="postsContainer">
        {% for post in page_object %}
            <div id="containerPost">
                <div id="headerPost">
                    <span id="autorPost">{{ post.autor }}</span>
                    <span id="likesPost">10<i class='bx bxs-like'></i></span>
                    <span id="commentsPost">4<i class='bx bx-comment' ></i></span>
                    <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="card_img">
                </div>
                <div id="bodyPost">
                    <a href="{% url 'Post' post.id %}" ><h2 id="titlePost">{{ post.titulo|truncatechars:30 }}</h2></a>
                    <p id="contentPost">{{ post.introduccion }}</p>
                </div>
                <div id="footerPost">
                    <div id="categoriaContainer" >
                        {% for categorias in post.categoria.all|slice:":3" %}
                        <a href="{% url 'Categoria' categorias.id %}" ><span id="categoria">{{ categorias.nombre }}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="pagination">
        {% if page_object.has_previous %}
        <a href="?pagina={{ page_object.previous_page_number }}">anterior</a>
        {% endif %}
        
        <span class="current-page">{{ page_object.number }}</span>
        
        {% if page_object.has_next %}
            <a href="?pagina={{ page_object.next_page_number }}">siguiente</a>
        {% endif %}
    </div>
</div>

{% endblock %}
