{% extends './base.html' %} <!-- hereda de la plantilla base.html-->

{% load static %}

{% block css_file %}
    {{ block.super }} 
    <link href="{% static context.home_css %}" rel="stylesheet">
    <link href="{% static context.slider_css %}" rel="stylesheet">
    <link href="{% static context.swiperBundleCss %}" rel="stylesheet">

{% endblock %}



{% block content %}

    <!-- Carrousel -->
    
    <div id="homeContainer" >
        <div class="slide-container swiper">
            <div class="glitch-wrapper">
                <div class="glitch" data-text="Últimos posteos">Últimos posteos</div>
             </div>
          <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
               
              {% for post in latest_posts %}
                <div class="card swiper-slide" id="cardPost">
                    <div id="headerPost">
                            <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="card_img" >
                    </div>
                    <div id="contentPost">
                        <a href="#"class='viewpost'><h2 id="titlePost">{{ post.titulo }}</h2></a>
                        <p id="descriptionPost">{{ post.contenido|truncatechars:90 }}</p>
                    </div>
                    <!-- <div id="footerPost">
                        <p>{{ post.autor }}</p>
                        {% for categorias in post.categoria.all %}
                        <div id="categoriaContainer" >
                            <a href="#" ><span id="categoria">{{ categorias.nombre }}</span></a>
                        </div>
                        {% endfor %}
                    </div> -->
                </div>
                  {% endfor %}
              </div>
          </div>
          <div class="glitch-wrapper" id="categoriaTitle">
            <div class="glitch" data-text="Categorías">Categorías</div>
        </div>
        <div id="contextCategorias">
            {% for categoria in categorias %}
            <a href="#">{{ categoria.nombre }}</a>
            {% endfor %}
        </div>
         </div>




    </div>

    

    
    {% block script_file %}
    {{ block.super }}
    <script src="{% static context.swiperBundleJs %}"></script>
    <script src="{% static context.sliderJs %}"></script>

    {% endblock %}

     

{% endblock %}