{% extends './base.html' %} <!-- hereda de la plantilla base.html-->

{% load static %}

{% block css_file %}
    {{ block.super }} 
    <link href="{% static context.home_css %}" rel="stylesheet">

{% endblock %}



{% block content %}

    <!-- Carrousel -->
    
    <div id="homeContainer" >
        <div id="lastestPosts">
            <div id="big-div">
                <div id="postHeader0">
                    <img src="{{ latest_posts.0.imagen.url }}" style="width: 350px;height:300px">
                </div>
                <div id="content_post0">
                    <h2>{{ latest_posts.0.titulo }}</h2>
                    <p>{{ latest_posts.0.contenido|truncatechars:250 }}</p>
                </div>
                <div id="footer_post0">
                    <span>{{ latest_posts.0.created }} - <a href="#">{{ latest_posts.0.autor }}</a></span>
                    <span>categoria</span>
                </div>
            </div>

            <div id="small-div1">
                <!-- <div id="postHeader1"> -->
                    <img src="{{ latest_posts.1.imagen.url }}" style="width: 200px;height:100px">
                <!-- </div> -->
                <div id="content_post1">
                    <h2>{{ latest_posts.1.titulo }}</h2>
                    <p>{{ latest_posts.1.contenido|truncatechars:75 }}</p>
                </div>
                <div id="footer_post1">
                    <p>{{ latest_posts.1.created }} - {{ latest_posts.1.autor }}</p>
                    <!-- <p>{{ latest_posts.0.categoria.nombre }}</p> -->
                </div>
            </div>

            <div id="small-div2">
                <!-- <div id="small-div2-header"> -->
                     <img src="{{ latest_posts.2.imagen.url }}" style="width: 200px;height:100px">
                <!-- </div> -->
                <div id="content_post2">
                    <h2>{{ latest_posts.2.titulo }}</h2>
                    <p>{{ latest_posts.2.contenido|truncatechars:50 }}</p>
                </div>
                <div id="footer_post2">
                    <p>{{ latest_posts.2.created }} - {{ latest_posts.2.autor }}</p>
                    <!-- <p>{{ latest_posts.0.categoria.nombre }}</p> -->
                </div>
            </div>
        </div>
        <div id="formRegister">
            <h2 style="text-align:center;color:aliceblue">Formulario</h2>
        </div>




    </div>

    

    
     

     

{% endblock %}