{% extends '../blog_app/base.html' %} <!-- hereda de la plantilla base.html-->
{% load markdown_extras %}

{% load static %}

{% block css_file %}
{{ block.super }}
    <link href="{% static context.post_css %}" rel="stylesheet">
{% endblock %}

{% block content %}

      
    <!-- Ver posteo completo -->
    <div id="bigContainer">

        <div id="indexPost">
            <div id="headerPost">
                <span id="likesPost"><a href="{% url 'like_post' post.id %}">{{ post.like_set.count }}<i class='bx bxs-like'></i></a></span>
                <span id="commentsPost"><a href="#">{{ post.comentario_set.count }}</a><i class='bx bxs-comment'></i></span>
                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}">
            </div>
        <div id="bodyPost">
            <div id="headerBody">
                <h3>{{post.titulo}}</h3>
                <span>Creado por {{post.autor}} - {{ post.created|date:"d M Y" }}</span>
            </div>
            <div id="contentBody" class="markdown-content">
                <p>{{ post.contenido|markdown|safe}}</p>
            </div>
        </div>
        <div id="footerPost">
            <span>Última actualización {{ post.updated|date:"d M Y" }}</span>
        </div>
        
    </div>
    <div id="indexComentarios"> 
        <h2>Comentarios </h2>
        <div id="comentarioContainer">

            {% for comentario in comentarios %}
            {% if post.id == comentario.post.id %}
            <div class="comentario">
                <div class="card-body"> 
                    <h3>{{ comentario.usuario }}</h3>
                    <p>{{ comentario.contenido }}</p>
                    <span>{{ comentario.created }}</span>
                    {% if user == comentario.usuario %}
                    <a id="deleteComment" href="{% url 'deleteComment' comentario.id %}"><i class='bx bxs-trash-alt'></i></a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div id="formComentario">

            <!-- {% if user.is_authenticated %} -->
            <form method="POST" id="formComment" action="{% url 'addComment' %}"> 
                {% csrf_token %} 
                <input type="hidden" name="post_id" value="{{ post.id }}">
                
                <input type="text" name="newComment" class="form-control" id="inputIntro" placeholder="Escribe un comentario..."  maxlength="200" required>
                <input type="submit" value="Comentar"/>
            </form>
        </div>
            <!-- {% endif %} -->
    </div>
    
    
    </div>
    <div id="scrollButton">&#8593;</div>
   
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var comentariosSpan = document.getElementById('commentsPost');
            var comentariosDiv = document.getElementById('Comentarios');
        
            comentariosSpan.addEventListener('click', function() {
                comentariosDiv.scrollIntoView({ behavior: 'smooth' });
            });
        });
    </script>        

    {% block script_file %}
        {{ block.super }}
        <script src="{% static context.post_js %}"></script>

    {% endblock %}


{% endblock %}