{% extends '../blog_app/base.html' %} <!-- hereda de la plantilla base.html-->
{% load markdown_extras %}

{% load static %}

{% block css_file %}
{{ block.super }}
    <link href="{% static context.post_css %}" rel="stylesheet">
{% endblock %}

{% block content %}

      
    <!-- Ver posteo completo -->
    <div id="bigContainer">

        <div id="indexPost">
            <div id="headerPost">
            <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}">
        </div>
        <div id="bodyPost">
            <div id="headerBody">
                <h3>{{post.titulo}}</h3>
                <span>Creado por {{post.autor}} - {{ post.created|date:"d M Y" }}</span>
            </div>
            <div id="contentBody" class="markdown-content">
                <p>{{ post.contenido|markdown|safe}}</p>
            </div>
        </div>
        <div id="footerPost">
            <span>Última actualización {{ post.updated|date:"d M Y" }}</span>
        </div>
        
    </div>
    <div id="Comentarios">aca van los comentarios</div>
    </div>
    <div id="scrollButton">&#8593;</div>
   


    {% block script_file %}
        {{ block.super }}
        <script src="{% static context.post_js %}"></script>

    {% endblock %}


{% endblock %}